<h1 class="h1">Omarchy Installer Setup</h1>
<ol>
  <li>Download files:
    <ul>
      <li><a href="/downloads/omarchy-webapp-handler">omarchy-webapp-handler</a></li>
      <li><a href="/downloads/omarchy-webapp-handler.desktop">omarchy-webapp-handler.desktop</a></li>
    </ul>
  </li>
  <li>Register handler:
<pre>chmod +x ~/Downloads/omarchy-webapp-handler
mkdir -p ~/.local/bin ~/.local/share/applications
mv ~/Downloads/omarchy-webapp-handler ~/.local/bin/
mv ~/Downloads/omarchy-webapp-handler.desktop ~/.local/share/applications/
xdg-mime default omarchy-webapp-handler.desktop x-scheme-handler/omarchy
update-desktop-database ~/.local/share/applications || true</pre>
  </li>
  <li>Test:
<pre>xdg-open 'omarchy://webappinstall?name=Test&url=https%3A%2F%2Fexample.com&icon=https%3A%2F%2Fwww.google.com%2Fs2%2Ffavicons%3Fsz%3D256%26domain%3Dexample.com'</pre>
  </li>
</ol>
